* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/galaxy.jpg");
  background-size: cover;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.sun {
  /* border: 2px solid red; */
  position: relative;
  width: 1000px;
  left: 1230px;
  top: 230px;
  isolation: isolate;
}

.sun > img {
  transform: scale(1.15);
}

.Mercury {
  position: absolute;
  /* border: 2px solid white; */
  width: 80px;
  left: 30px;
  top: 430px;
}

.venus {
  position: absolute;
  width: 110px;
  left: -100px;
  bottom: -130px;
}

.earth {
  position: absolute;
  width: 150px;
  left: -260px;
  bottom: -60px;
}

.mars {
  position: absolute;
  width: 100px;
  left: -370px;
  bottom: 40px;
}

.jupital {
  position: absolute;
  width: 180px;
  left: -500px;
  bottom: 110px;
}

.saturn {
  position: absolute;
  width: 200px;
  left: -650px;
  bottom: 210px;
}

.uranus {
  position: absolute;
  width: 130px;
  left: -750px;
  bottom: 330px;
}

.nepturn {
  position: absolute;
  width: 130px;
  left: -850px;
  bottom: 430px;
}
/* the > indicate Only images immediately inside .sun,
".sun > div::before(create a pseudo-element inside each selected div, before its existing content.) shows Styles for the curved lines" */
  .sun
  > div::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--orbit-size);
  height: var(--orbit-size);
  border: 2px solid #5a5b5c;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
}

.Mercury {
  --orbit-size: 900px;
}
.venus {
  --orbit-size: 1200px;
}
.earth {
  --orbit-size: 1500px;
}
.mars {
  --orbit-size: 1800px;
}
.jupital {
  --orbit-size: 2100px;
}
.saturn {
  --orbit-size: 2400px;
}
.uranus {
  --orbit-size: 2700px;
}
.nepturn {
  --orbit-size: 3000px;
}
